*,
html {
    margin: 0;
    padding: 0;
}

.div-awal {
    background-color: #333;
    width: 100%;
    height: 10vh;
}

.div-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style-type: none;
    font-weight: 1000;
}

.div-container li a {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    color: white;
    font-size: 25px;
    text-decoration: none;
    transition: 0.3s ease-in-out; 
}

.div-container li a:hover {
    background-color: black;
    border-radius: 10px;
    color: aqua; 
}

.div-content {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.div-youtube {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center;
}

.div-youtube img {
    width: 100%; 
    height: 100%;
    margin-bottom: 10px; 
}

.div-youtube a {
    color: black;         
    text-decoration: none;
    font-size: 40px;
    font-family: sans-serif;
}

.div-footer {
    font-size: 50px;
    background-color: #333;
    color: white;
    text-align: center;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 10vh;
}
